.product__content {
  .product__content-header {
    display: flex;
    justify-content: space-between;
    .header__title {
      display: flex;
      align-items: center;
      gap: 15px;
      h3 {
        font-weight: 400;
        font-size: 36px;
        color: #000;
      }
    }
    .header__sort {
      position: relative;
      background: #fff;
      border-radius: 15px;
      box-shadow: 0 0 18px 6px rgba(0, 0, 0, 0.09);
      padding: 10px 15px;
      cursor: pointer;
      width: 230px;
      transition: border-radius 0.3s ease-in-out;
      &:hover > .header__sort-list {
        opacity: 1;
        pointer-events: all;
      }

      &:hover > .sort__title-default span {
        transform: rotate(-180deg);
      }
      &:hover {
        border-radius: 15px 15px 0 0;
      }
      .sort__title {
        font-weight: 300;
        font-size: 14px;
        color: #a4acad;
        margin-bottom: 5px;
      }
      .sort__title-default {
        width: 100%;
        font-weight: 400;
        font-size: 18px;
        color: #f46d40;
        display: flex;
        justify-content: space-between;
        span {
          transition: transform 0.3s ease-in-out;
        }
      }
      .header__sort-list {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
        left: 0;
        border-top: 1px solid #a4acad;
        margin-top: 10px;
        padding-top: 10px;
        position: absolute;
        background: #fff;
        border-radius: 0 0 15px 15px;
        box-shadow: 0 0 18px 6px rgba(0, 0, 0, 0.09);
        padding: 10px 15px;
        pointer-events: none;
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }
    }
  }
  .product__content-row {
    margin: 40px 0;
    .container {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 30px;
    }
  }
}
