.main {
  max-width: 1720px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.content {
  flex-grow: 1;
  background-color: #f2f2f2;
}

.swiper-button-next,
.swiper-button-prev {
  color: #fff !important;
  background: #f46d40 !important;
  width: 45px !important;
  height: 45px !important;
  border-radius: 50% !important;
}

.swiper-button-prev:after,
.swiper-button-next:after {
  font-size: 25px;
}

::selection {
  background: #f46d40;
  color: #f2f2f2;
}
.active__body {
  overflow: hidden;
  padding-right: 17px;
}

.active {
  color: #f46d40;
  span {
    color: #f46d40 !important;
  }
}
